<h1> Add link </h1>

<div>
    <form action="/links" method="post">
      Enter Link:
      URL: <input type="text" name="url"/>
      Title: <input type="text" name="title"/>
      Tags: <input type="text" name="tags"/>
      <input type ="submit" value="Create link"/>
    </form>
</div>
